.about{
    width: 100%;
    height: 572px;
    background-image: url(../../Assets/Images/bg-about.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}
.about .img-about{
    width: 359.13px;
    height: 497.67px;
    transform: translateY(-50px);
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.16);
    border: 4px solid var(--bg-glass);
    border-radius: 12px;
    background-color: var( --bg-glass);
    margin-right: 120px;
}
.about .img-about img{
    width: 100%;
    height: 100%;
    border-radius: 12px;
}
.about .content-about{
    max-width: 478px;
    min-height: 316.12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
}
.about .content-about h1{
    font-size:32px ;
    line-height: 48px;
}
.about .content-about h1 span{
    border-bottom: 4px solid var(--bg-primary);
}
.about .content-about h2{
    font-size: 24px;
    line-height: 36px;
}
.about .content-about p{
    font-size: 18px;
    line-height: 27px;
    width: 478px;
    color: var(--color-grey);
}
.about .content-about .btn-about{
    width: 142px;
    height: 38px;
    margin-top: 20px;

}
.about .content-about .btn-about button{
    width: 100%;
    height: 100%;
    background-color: var( --bg-secondary);
    color: var( --bg-primary);
    border-radius: 33px;
    font-size: 12px;
    line-height: 18px;
}
@media all and (max-width: 776px){
    .about{
        height: 484px;
        background-size: cover;
        background-position: center;
    }
    .about .img-about{
        display: none;
    }
    .about .content-about{
        width: 348px;
        height: 401px;  
        margin-left: 0px;
    }
    .about .content-about h1{
        font-size:24px ;
        line-height: 36px;
    }
    .about .content-about h2{
        font-size: 22px;
        line-height: 33px;
    }
    .about .content-about p{
        width: 318px;
    }
    .about .content-about .btn-about{
        margin-left: 75px;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .about{
        height: 484px;
        display: flex;
        justify-content: flex-start;
    }
    .about .col{
        width: 100%;
    }
    .about .img-about{
        display: none;
    }
    .about .content-about{
        width: 713px;
        height: 301px;  
        margin-left: 0px;
    }
    .about .content-about h1{
        font-size:32px ;
        line-height: 48px;
    }
    .about .content-about h2{
        font-size: 25px;
        line-height: 37.5px;
    }
    .about .content-about p{
        font-size: 20px;
        line-height: 30px;
        width: 709px;
    }
    .about .content-about .btn-about{
        margin-top: 10px;
        margin-left: 0px;
    }
}